<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo nav-link">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.home | relative_url }}">{{ site.title }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
