<header class="the-header">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo nav-link">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.home | relative_url }}">{{ site.title }}</a>
                    </li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].home }}" href="{{ site.paths.products | relative_url }}">{{ site.data.i18n[site.lang].products }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].software }}" href="{{ site.paths.software | relative_url }}">{{ site.data.i18n[site.lang].software }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].forum }}" href="{{ site.paths.forum | relative_url }}">{{ site.data.i18n[site.lang].forum }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
